<div class="aside-dropdown">
				<div class="aside-dropdown__inner"><span class="aside-dropdown__close">
					<svg class="icon">
						<use xlink:href="#close"></use>
					</svg></span>
				<div class="aside-dropdown__item d-lg-none d-block">
					<ul class="aside-menu" >
						<li class="aside-menu__item aside-menu__item--has-child aside-menu__item--active"><a class="aside-menu__link" href="#"><span>Inicio</span></a></li>
						<li class="aside-menu__item aside-menu__item--has-child"><a class="aside-menu__link" href="/#somos"><span>Somos</span></a></li>
						<li class="aside-menu__item aside-menu__item--has-child"><a class="aside-menu__link" href="/apadrina"><span>Apadrina</span></a></li>
						<li class="aside-menu__item aside-menu__item--has-child"><a class="aside-menu__link" href="#"><span>Involúcrate</span></a></li>
						
					</ul>
				</div>
				<div class="aside-dropdown__item">
		
					<div class="aside-inner"><span class="aside-inner__title">Email</span><a class="aside-inner__link" href="mailto:contaco@usumamexico.org" style="color: #35ACBF;">contaco@usumamexico.org</a></div>
					<div class="aside-inner"><span class="aside-inner__title">Número telefónico</span><a class="aside-inner__link" href="tel:+52(33)26481262" style="color: #35ACBF;">+ 52 (33) 2648 1262</a></div>
					<ul class="aside-socials">
						<li class="aside-socials__item"><a class="aside-socials__link" href="https://instagram.com/usumamexico?igshid=1fgfswljr1urj" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="color: #35ACBF;"></i></a></li>
						<li class="aside-socials__item"><a class="aside-socials__link" href="https://m.youtube.com/channel/UC3sg9BgzoHBNKpsoiW8Sjiw" target="_blank"><i class="fa fa-youtube" aria-hidden="true" style="color: #35ACBF;"></i></a></li>
						<li class="aside-socials__item"><a class="aside-socials__link aside-socials__link--active" href="https://twitter.com/usumamexico" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="color: #35ACBF;"></i></a></li>
						<li class="aside-socials__item"><a class="aside-socials__link" href="https://m.facebook.com/usumamexico/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="color: #35ACBF;"></i></a></li>
					</ul>
				</div>
				<div class="aside-dropdown__item" >
					
					<form style="height: 100%;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick" />
								<input type="hidden" name="hosted_button_id" value="XJ3CGF777FUMU" />
								<input type="submit" class="button button--squared"  style="background-color: #EE743B; color: white; border: none;" value="Donar" >
							</form>
					</div>
				
				</div>
			</div>