			<!-- footer start-->
			<footer class="footer" style="background-color: #35ACBF; color: white;">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="footer-logo"><a class="footer-logo__link" href="#"><img class="footer-logo__img" src="/img/usumaLogo.png" alt="logo"/></a></div>
							<!-- footer socials start-->
							<ul class="footer-socials">
								<li class="footer-socials__item"><a class="footer-socials__link" href="https://m.facebook.com/usumamexico/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="footer-socials__item"><a class="footer-socials__link" href="https://twitter.com/usumamexico" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="footer-socials__item"><a class="footer-socials__link" href="https://m.youtube.com/channel/UC3sg9BgzoHBNKpsoiW8Sjiw" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li class="footer-socials__item"><a class="footer-socials__link" href="https://instagram.com/usumamexico?igshid=1fgfswljr1urj" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
							<!-- footer socials end-->
						</div>
						<div class="col-sm-6 col-lg-3">
							<h4 class="footer__title">Contacto</h4>
							<div class="footer-contacts">
								<p class="footer-contacts__address">Efrain Gonzalez Luna 2481, Col Americana, 44130, Guadalajara, Jalisco</p>
								<p class="footer-contacts__phone">Phone: <a href="tel:+52(33)26481262">+ 52 (33) 2648 1262</a></p>
								<p class="footer-contacts__mail">Email: <a href="mailto:contacto@usumamexico.org">contacto@usumamexico.org</a></p>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3 " style="color: white;">
							<h4 class="footer__title" >Menu & Links</h4>
							<!-- footer nav start-->
							<nav style="color: white;">
								<ul class="footer-menu" >
									<li class="footer-menu__item footer-menu__item--active"><a  style="color: white;" class="footer-menu__link" href="#inicio">Inicio</a></li>
									<li class="footer-menu__item"><a  style="color: white;" class="footer-menu__link" href="#somos">Somos</a></li>
									<li class="footer-menu__item"><a  style="color: white;" class="footer-menu__link" href="/apadrina">Apadrina</a></li>
									
								</ul>
							</nav>
							<!-- footer nav end-->
						</div>
						<div class="col-sm-6 col-lg-3">
							<h4 class="footer__title">Donar</h4>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick" />
								<input type="hidden" name="hosted_button_id" value="XJ3CGF777FUMU" />
								<input type="submit" class="button footer__button button--filled"  style="background-color: #EE743B; color: white; border: none;" value="Donar" >
							</form>
						</div>
					</div>
					<div class="row align-items-baseline">
						<div class="col-md-6" style="color: white;">
							<p class="footer-copyright" style="color: white;">© 2020 USUMA</p>
						</div>
						<div class="col-md-6" >
							<div class="footer-privacy" style="color: white;"><a class="footer-privacy__link" href="/avisoDePrivacidad" target="_blank">Aviso de privacidad</a><span class="footer-privacy__divider">|</span><a class="footer-privacy__link" href="#">Terminos y condiciones</a></div>
						</div>
					</div>
				</div>
			</footer>
			<!-- footer end-->