<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>Usuma</title>
    <!-- Favicon -->
    <link rel="icon" href="digital-marketing/img/usu.png">
    <!-- Bundle -->
    <link rel="stylesheet" href="digital-marketing/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="digital-marketing/css/line-awesome.min.css">
    <link rel="stylesheet" href="digital-marketing/css/swiper.css">
    <link rel="stylesheet" href="digital-marketing/css/cubeportfolio.min.css">

    <!-- Style Sheet -->
    <link rel="stylesheet" href="digital-marketing/css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="150">


    <header>

        <!--    NAVBAR FOR LARGE SCREEN-->
        <nav id="my-nav1" class="navbar navbar-expand-lg navbar-light rounded-bar">

            <div class="logo small-screen">
                <a href="/" class="scroll"><img src="digital-marketing/img/usumalogo.png" alt="Logo Img" style="max-height: 45px;"></a>
            </div>

            <div class="container bg-trans-color">
                <div class="row no-gutters w-100">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <div class="collapse navbar-collapse">
                            <div class="col-3 col-md-2 col-lg-3 text-left p-0">
                                <!-- <div class="logo"> -->
                                    <!-- <a href="/" class="scroll"><img src="digital-marketing/img/usumalogo.png" alt="Logo Img" style="max-height: 45px;"></a> -->
                                <!-- </div> -->
                                <div class="header-logo">
                                    <a class="header-logo__link" href="/">
                                    <img class="header-logo__img logo--light" src="/img/usumaLogo.png" alt="logo">
                                    <!-- <img class="header-logo__img logo--dark" src="/img/usumaLogo.png" alt="logo"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="col-9 p-0">
                                <ul id="primary" class="navbar-nav text-center text-white">

                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#somos">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/#feature">Sponsor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#feature" class="btn btn-slider pink-btn rounded-pill" style="width: 100%">DONATE</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <a href="javascript:void(0)" class="sidemenu_btn" id="sidemenu_toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </nav>

        <!--Side Nav-->
        <div class="side-menu hidden">
            <div class="inner-wrapper">
                <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                <nav class="side-nav w-100">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link scroll" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="/#somos">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#feature">Sponsor now!</a>
                        </li>
                    </ul>
                </nav>

                <div class="side-footer w-100">
                    <div class="banner-icons">
                        <a href="https://m.facebook.com/usumamexico/"><i class="lab la-facebook-f icons"></i></a>
                        <a href="https://twitter.com/usumamexico"><i class="lab la-twitter icons"></i></a>
                        <a href="https://instagram.com/usumamexico?igshid=1fgfswljr1urj"><i class="lab la-instagram icons"></i></a>
                    </div>
                    <p>&copy; 2020 Usuma. Por México.</p>
                </div>
            </div>
        </div>
        <a id="close_side_menu" href="javascript:void(0);"></a>
        <!-- End side menu -->
    </header>

    <section id="home" class="home">
        <div class="container" style="margin: 5%;">
            <div class="row height padding">
                <div class="col-15 col-md-12 height d-flex align-items-center text-left">
                    <div style="width: 66%; padding-bottom: 12%;">
                        <div class="text d-flex align-items-center" id="herotextcon" style="position: relative; margin: 0%; padding: 20px;">
                            <div class="home-text text-white height1" id="textohero" style="overflow: hidden; padding: 16px;">

                                <h4 class="heading mb-3 wow fadeInLeft" data-wow-delay="400ms" style="font-size:2.3rem"> We cannot help EVERYONE</h4>
                                <h1 class="main-heading mb-0 wow fadeInUp" data-wow-delay="1200ms" style="font-size:2.3rem">but imagine if everyone <br> helped SOMEBODY.</h1>
                                <h6 class="heading mb-2 wow fadeInUp" data-wow-delay="1200ms" style="font-size: 1.4rem;">Join the cause and help a kid have a quality education.</h6>
                                <a href="#feature" class="btn btn-slider pink-btn rounded-pill wow fadeInUp" data-wow-delay="1200ms">Sponsor a child</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>



    </section>

    <!--About start-->
    <section class="about pb-0 " id="about">

        <div class="" style="position: absolute; width: 100%; height: 100%; overflow: visible; margin-top: 3%;">

            <img class="paral" data-rateX="0" data-rateY="0.5" src="digital-marketing/img/manchagris.png" alt="" srcset="" style="width: 66%; position: absolute; margin-left: -5%; margin-top: -45%; z-index: -1;">
            <img class="paral" data-rateX="0" data-rateY="0.5" src="digital-marketing/img/manchagris3.png" alt="" srcset="" style="width: 56%; position: absolute; margin-left: -5%; margin-top: 10%; z-index: -2; transform: scaleX(-1);">


            <!-- {{!-- <img class="paral" data-rateX="0" data-rateY="0.6" src="digital-marketing/img/manchamarina.png" alt="" srcset="" style="width: 18%; position: absolute; margin-left: 80%; overflow: hidden; z-index: -1; top: 10%;"> --}}
                
            {{!-- <img class="paral" data-rateX="0" data-rateY="0.6" src="digital-marketing/img/manchalila.png" alt="" srcset="" style="width: 15%; position: absolute; margin-left: 79%; top: -23%; z-index: -1;"> --}} -->

            <div style="max-width: 30%; overflow: hidden;"> <img class="paral" data-rateX="0" data-rateY="0.5" src="digital-marketing/img/manchagris.png" alt="" srcset="" style="width: 50%; position: absolute; left: 50%; margin-top: -5%; z-index: -2; transform: scaleX(-1);">
            </div>


            <!-- <img src="digital-marketing/img/manchaamarilla.png" alt="" srcset="" style="width: 15%; position: static; margin-left: 77%; margin-top: -46%;"> -->

        </div>

        <div id="about2">



            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0 wow fadeInLeft" id="convideo" style="padding: 0%;">
                    <iframe width="560" height="315" id="youvideo" src="https://www.youtube.com/embed/fVXb6u9nWBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 pl-6">

                    <div class="main-title text-lg-right offset-md-1 mb-0 wow fadeInUp" id="maintitle" data-wow-delay="300ms">
                        <div id="container16">
                            <h3 class="wow fadeInUp font-weight-800" data-wow-delay="400ms" style="margin-bottom: 0; color: #E96E29; font-weight: 900;"> With just $16</h3>
                            <!-- <h2 style="color: #E96E29; font-size: 4rem; margin-bottom: 0; font-weight: 900;">$16</h2> -->
                            <p class="pb-4 wow fadeInUp" style="margin-left: 10; max-width: 110%; padding-bottom: 0; font-size: 1.2rem;" data-wow-delay="500ms">pesos a day, you can help a child learn English and assertively manage their emotions
                            </p>

                            <h2 style="color: #E96E29; font-size: 4rem; margin-bottom: 0; font-weight: 900;"> = $500</h2>
                            <h3 class="wow fadeInUp font-weight-800" data-wow-delay="400ms" style="margin-bottom: 0; color: #E96E29; font-weight: 900;"> pesos monthly. </h3>

                            <a href="#feature" class="btn btn-slider pink-btn" style="width: 60%; margin-top: 3%;">Sponsor a child</a>

                            <a href="javascript:void(0)" class="btn-setting color-black btn-hvr-up btn-yellow btn-hvr-pink text-white link wow fadeInUp" data-wow-delay="700ms"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About end-->






    <!-- About Boxes start -->
    <section>

        <div class="" style="position: absolute; width: 100%; height: 130%; overflow: visible; margin-top: 3%; z-index: -1;">

            <!-- {{!-- <img class="paral" data-rateX="0" data-rateY="0.6" src="digital-marketing/img/manchaverde.png" alt="" srcset="" style="width: 16%; position: absolute; margin-left: 0%; top: -70%;"> --}} -->

            <!-- <img src="digital-marketing/img/mancharoja.png" alt="" srcset="" style="width: 21%; position: absolute; margin-left: 2%; margin-top: 15%;"> -->

            <!-- {{!-- <img class="paral" data-rateX="0" data-rateY="0.6" src="digital-marketing/img/manchaceleste.png" alt="" srcset="" style="width: 16%; position: absolute; margin-left: 1%; top: -35%;"> --}} -->

        </div>

        <div style="margin-left: 0%; margin-top: 20vh;">
            <div id="quieroA">
                <h1 id="quieroAT" class="main-heading mb-0 wow fadeInUp">I want to sponsor<br> Where do I start? </h1>
            </div>
            <div class="container" id="pasos">

            </div>
        </div>
    </section>
    <!-- About Boxes ends -->

    <section id="feature" class="feature">
        <div class="container" style="text-align:center">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 text-center">
                    <div class="text">
                        <div class="home-text text-black">
                            <h1 class="main-heading mb-4" style="color:#A53680">SPONSOR TODAY</h1>
                            <h2 class="main-heading mb-4" style="font-size: 1.2rem;"><mark style="background-color: orange;">Click</mark> over the child you would like to sponsor. </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 8vh;">
                <div class="col-sm-12">

                    <div id="js-grid-slider-projects" class="cbp">


                        <%kids.forEach(function(kid){ %>
                            <%if (kid.image) { %>

                                <div class="cbp-item">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="data:image/<%=kid.image.contentType%>;base64, 
                                        <%=kid.image.data.toString('base64')%>" alt="">
                                        </div>
                                        <a href="/kid/<%= kid._id %>" class="cbp-caption-activeWrap" style=" background: rgba(71, 172, 191, 0.3)">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cases-image-inner">
                                                        <span class="cases-line top"></span>
                                                        <span class="cases-line top-right"></span>
                                                        <span class="cases-line bottom"></span>
                                                        <span class="cases-line bottom-left"></span>
                                                        <h6 class="text-white text-uppercase font-14 font-secondary font-weight-light">
                                                            <%=kid.name %>
                                                        </h6>
                                                        <button class="btn pink-btn">Sponsor me :) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <% } %>
                                    <% }); %>



                    </div>


    </section>

    <section class="customer_feedback_section big_padding text-center" id="reviews">

        <div class="container" id="contuap">

            <div class="feedaback_inner wow fadeInLeft">



                <h2 id="contu" class="main-heading text-center" style="font-size: 2.3rem;">

                    WITH YOUR CONTRIBUTION YOU ARE ALSO...

                </h2>

                <div class="swiper-container customer_feedback_slider black_pagination" style="padding-top: 5%; width: 100%;">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <p class="heading slideapo">

                                Believing in children: 113 children and their futures. We promote boys and girls within a public primary school in Zapopan.

                            </p>

                        </div>

                        <div class="swiper-slide">

                            <p class="heading slideapo">

                                Creating a dedicated team: Teachers, administrative staff and volunteers who work day by day for the future of our children.
                            </p>

                        </div>

                        <div class="swiper-slide">
                            <!-- (Foto de un ipad con un paper de algún programa..preguntar lore) -->
                            <p class="heading slideapo">
                                Acquiring educational programs: Teaching content and materials that help children develop necessary skills for the 21st century.
                            </p>

                        </div>

                        <div class="swiper-slide">
                            <!-- (Foto de un ipad con un paper de algún programa..preguntar lore) -->
                            <p class="heading slideapo">

                                Adding to the well-being of families: For a child to be fulfilled, his family is essential in his growth process, that is why we help parents in the education of their children by providing workshops.
                            </p>

                        </div>

                        <div class="swiper-slide">
                            <!-- (Foto de un ipad con un paper de algún programa..preguntar lore) -->
                            <p class="heading slideapo">

                                Continuously training teachers: Workshops and trainings to keep teachers up-to-date on education and a source of inspiration for children.
                            </p>

                        </div>

                    </div>


                </div>

                <a>
                    <div class="swiper-button-prev fa fa-angle-left" style="display: inline-block;"></div>
                </a>
                <a>
                    <div class="swiper-button-next fa fa-angle-right" style="display: inline-block;"></div>
                </a>


            </div>

        </div>

    </section>


    <div style="width: 100%; height: auto; padding-top: 6vh; overflow: visible;">

        <div style="position: relative; width: 100%; height: 100%; overflow: hidden; margin-top: 0%; text-aling:center">


            <img class="" src="digital-marketing/img/manchagris2.png" alt="" srcset="" style="width: 62%; position: absolute; margin-left: 0%; margin-top: -5%; z-index: -1;">


            <!-- <img class="paral" data-rateX="0" data-rateY="0.6" src="digital-marketing/img/manchalila.png" alt="" srcset="" style="width: 15%; position: relative; margin-left: 85%; top: -250%; z-index: -1;"> -->



            <!-- <img class="paral" data-rateX="0" data-rateY="-0.3"  src="digital-marketing/img/manchaamarilla.png" alt="" srcset="" style="width: 30%; position:relative; margin-left: -1%; margin-top: 120%; overflow: visible; z-index: -1;"> -->
            <div id="textticket">
                <h1 id="h1ticket" class="main-heading mb-0 wow fadeInUp"> How will my $500 pesos be spent? <br> </h1>
                <h2 id="h2ticket" class="heading mb-2"> That a kid sees you as a source of inspiration and support is priceless. </h2>
            </div>

            <img src="digital-marketing/img/arrow.png" id="flecha">

            <div id="ticketimg"> </div>
            <!-- <div lang="en" id="ticketimg-en"> </div> -->
            <!-- <div lang="es" id="ticketimg-es"> </div> -->

        </div>



    </div>

    <div id="final">
        <div id="finaltextcon">
            <div class="home-text text-white height1 wow fadeInRight" style="overflow: hidden;">

                <h1 id="h1fin" class="main-heading mb-0">Giving will give you back <br> </h1>
                <h2 class="heading mb-2 h2fin">It's not just about a donation, it's about a child's life. The chance to meet your kid in one of our events, play together, get to know and inspire each other, will create a bond of kindness. <br> </h2>

                <h2 class="sub-heading mb-2 h2fin" style="font-weight: 700;">And this will make you smile, or perhaps, change your life completely.</h2>

            </div>
        </div>
    </div>

    <!--        FOOTER SECTION ROW-->
    <div id="footsec">

        <img id="footimg" src="digital-marketing/img/Path 1561@2x.png">
        <div id="foottxt">
            <h3 id="footh3">

                Efrain Gonzalez Luna 2481, Col Americana, <br> 44680 Guadalajara, Jalisco <br> contacto@usumamexico.org <br> + 52 (33) 2648 1262</h3>

        </div>


        <div class="banner-icons" style="margin-top: 50px; margin-left: 75%; position:absolute">
            <a href="https://m.facebook.com/usumamexico/"><i class="lab la-facebook-f icons fb iconn"></i></a>
            <a href="https://twitter.com/usumamexico"><i class="lab la-twitter icons twt iconn"></i></a>
            <a href="https://twitter.com/usumamexico"><i class="lab la-instagram icons inst iconn"></i></a>
        </div>


    </div>

    </div>
    </section>




    <!-- JavaScript -->
    <script src="digital-marketing/js/bundle.min.js"></script>
    <script src="digital-marketing/js/swiper.min.js"></script>
    <script src="digital-marketing/js/wow.min.js"></script>

    <!-- //VENDOR -->
    <script src="digital-marketing/js/jquery.cubeportfolio.min.js"></script>
    <script src="digital-marketing/js/jquery.appear.js"></script>
    <script src="digital-marketing/js/parallaxie.min.js"></script>


    <!-- Slick JS File -->
    <script src="digital-marketing/js/slick.min.js"></script>


    <!-- custom script -->
    <script src="digital-marketing/js/jquery.fancybox.js"></script>
    <script src="digital-marketing/js/jquery.fancybox.min.js"></script>
    <script src="digital-marketing/js/tilt.jquery.js"></script>
    <script src="digital-marketing/js/script.js"></script>
    <script src="digital-marketing/js/swiper.js"></script>
    <script src="digital-marketing/js/scripta.js"></script>




</body>

</html>