<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/thanksDesign.css">
    <title>Usuma | Gracias</title>
    <link rel="shortcut icon"   href="/favicon.ico"/>
</head>
<body>
    <div class="centered">
       
        <img class="envelope" src="./img/Grupo 523.png">
        <img class="line" src="./img/STROKE 31a2c698-f3f6-4fba-81c7-eaa8c168f433.png">
        <img class="paperPlane" src="./img/c0vfQu.png">
        <div class="letterContent">
            <p>Muchas gracias por creer en mí y en la educación que yo he recibido en Usuma.</p>
            <p>¡Espero que pronto puedas venir a conocerme!</p>
        </div>
    </div>

   
    <div class="center">
        <h1 class="Gbold">¡Felicidades!</h1>
        <h3 class="GBook">Ya eres un padrino Usuma</h3>
    </div>
    <div class="center">
        <p class="GLight">
            Te mantendremos al tanto de los avances de tu ahijado, sus logros en la escuela y los eventos para que se puedan conocer.
        </p>
    </div>
    <div class="center">
        <h3 class="GBook">Estamos felices de darte la bienvenida a este proyecto tan increíble, gracias por hacerlo crecer con tu generosidad.</h3>
    </div>
    <div class="center " >
       
        <form action="/" method="GET">
            <input class="buttonBack" type="submit" value="REGRESAR AL INICIO" />
        </form>
    </div>

    
</body>
</html>